nav a{
    display: none;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 5%;
    text-decoration: none;
    color:black;
}
.close{
    border: none;
    background-color: white;
    font-size: 30px;
}
.open{
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
}
.title{
    font-size: large;
}
