nav a{
    display: none;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 5%;
    text-decoration: none;
    color:black;
    width: 75px;
}
.close{
    border: none;
    background-color: white;
    font-size: 30px;
    margin-bottom: 117px;
}
.open{
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 0;
}
.title{
    font-size: large;
}
body{
    display: flex;
}
aside{
    float: right;
    margin: 0, 1.5%;
    position: relative;
    color: black;
    width: 50%;
    display: block;
    background-color: grey;
    padding-left: 20px;
    padding-right: 10px;
}